#!/bin/bash

set -eufo pipefail

# Load Homebrew
command -v brew >/dev/null 2>&1 || \
    echo '🐚 Loading Homebrew' && eval "$(/opt/homebrew/bin/brew shellenv)"

# Brews
{{ $brews := list
    "chezmoi"
    "curl"
    "git"
    "git-lfs"
    "go"
    "golangci-lint"
    "jq"
    "wget" -}}

# Casks
{{ $casks := list
    "aldente"
    "firefox"
    "google-chrome"
    "visual-studio-code"
    "vlc" -}}

# Install with brew bundle
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
