#!/bin/bash
set -eufo pipefail

# Brews
{{ $brews := list
    "curl"
    "git"
    "git-lfs"
    "go"
    "golangci-lint"
    "jbang"
    "jq"
    "yq"
    "kubernetes-cli"
    "helm"
    "mas"
    "minikube"
    "tmux"
    "volta" 
    "wget"
-}}

# Casks
{{ $casks := list
    "docker"
    "firefox"
    "google-chrome"
    "iterm2"
    "visual-studio-code"
-}}

# Cask - Visio
{{ $casks = concat $casks (list
    "slack"
) -}}

# Cask - Messaging
{{ $casks = concat $casks (list
    "discord"
    "whatsapp"
    "telegram"
    "signal"
) -}}

# Cask - Tools
{{ $casks = concat $casks (list
    "spotify"
    "transmission"
    "vlc"
) -}}

# Install with brew bundle
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
