{{- if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

pacman_packages=(
	rsync
	whois
	git
	curl
	vim
	chezmoi
	firefox
	vlc
	telegram-desktop
	transmission-gtk
	go
	jdk
	docker
	python-pip
)

aur_packages=(
	gnome-shell-extension-arch-update
	google-chrome
	ngrok
	whatsapp-nativefier
	slack-desktop
	visual-studio-code-bin
	intellij-idea-ultimate-edition
	kubernetes-bin
	kubernetes-helm
)

pip_packages=(
	esptool
	platformio
)

configure_ucode() {
	if (( $(cat /proc/cpuinfo | grep -i intel | wc -l) > 0 )); then
		pacman_packages+=(intel-ucode)
	elif (( $(cat /proc/cpuinfo | grep -i amd | wc -l) > 0 )); then
    	pacman_packages+=(amd-ucode)
	fi
}

install_yay() {

	if is_command yay; then
        return
	fi

	pacman -S --needed git base-devel

    git clone https://aur.archlinux.org/yay.git ~/yay
	pushd ~/yay
	makepkg -si --noconfirm
	popd
    rm -rf ~/yay

}

install_packages() {
	
	# pacman
	sudo pacman -Sy --noconfirm ${pacman_packages[@]}
	
	# aur
	yay -Sy --noconfirm ${aur_packages[@]}

	# pip
	for package in ${pip_packages[@]}; do
		pip install -U ${package}
	done

}

install_nvm() {

	if is_command nvm; then
        return
	fi

	git clone https://github.com/nvm-sh/nvm.git ~/.nvm
	pushd ~/.nvm
	git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
	popd

}

install gcloud() {

	if is_command gcloud; then
        return
	fi

	curl https://sdk.cloud.google.com | sudo bash -s -- --disable-prompts --install-dir=/opt

}

main() {

	configure_ucode
	install_yay
	install_packages
	install_nvm
	install_gcloud
	
}

is_command() {
    command -v "$1" >/dev/null
}

main

{{ end }}

