{{- if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

packages=(
	curl
	vim
	git
	chezmoi
	firefox
)

# intel or amd ucode
if (( $(cat /proc/cpuinfo | grep -i intel | wc -l) > 0 ))
then
	packages+=(intel-ucode)
elif (( $(cat /proc/cpuinfo | grep -i amd | wc -l) > 0 ))
then
    packages+=(amd-ucode)
fi

sudo pacman -Syu --noconfirm ${packages[@]}

{{ end }}

