{{ if stat "/opt/homebrew/bin/brew" -}}
# brew
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ end -}}


{{ if stat "/opt/homebrew/bin/jbang" -}}
# jbang
eval "$(jbang jdk java-env)"

{{ end -}}


{{ if stat "/opt/homebrew/bin/volta" -}}
# volta
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

{{ end -}}