#!/bin/bash
set -eufo pipefail

# install default jdk
jbang app setup

# install quarkus
jbang trust add https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/
jbang app install --fresh --force quarkus@quarkusio