[user]
	name = Vincent Spiewak
	email = {{ .email }}

[color]
	ui = auto

[core]
	editor = vim
	whitespace = trailing-space,space-before-tab

[init]
	defaultBranch = "main"

[push]
	default = current

[url "git@github.com:dailybrain/dotfiles"]
	insteadOf = https://github.com/dailybrain/dotfiles
{{/* vim: set filetype=gitconfig: */}}